#title{
    background-color: pink;
}


#features{
    background-color: aliceblue;
    }




.heading{
    text-align: center;
}
.button{
    padding: 5% 17%;
}



#testimonials{
    background-color: pink;
}


#cta{
    text-align: center;
}






#footer{
background-color: aliceblue;
}
.Copyright-text{
    text-align: center;
}




