/* Navigation */
#navbar {
  flex-direction: column;
}
#navbar ul li {
  font-size: 1rem;
  padding: 0px 7px;
  padding-bottom: 8px;
}

/* HOME SECTION */
#home {
  height: 370px;
  padding: 3px 28px;
}
#home::before {
  height: 480px;
}
#home p {
  font-size: 13px;
}

/* our services */
#services {
  flex-direction: column;
}

#services .box {
  padding: 14px;
  margin: 2px 0px;
  margin-bottom: 20px;
}

/* CLIENT SECTION */
#clients {
  flex-wrap: wrap;
}
#clients img {
  width: 66px;
  /* width: 90px; */
  height: auto;
  padding: 6px;
}

/* contact us  */

#contact-box form {
  width: 80%;
}

/* FOOTER */
footer{
  font-size: 1rem;
}

/* UTILITY CLASS */
.h-primary {
  font-size: 40px;
}
.h-secondary {
  font-size: 21px;
}
.btn {
  font-size: 13px;
  padding: 4px 8px;
}

/* FOR MORE SMALL MOBILES */

@media screen and (max-width: 420px) {
  #navbar ul li a {
    padding: 3px 2px; 
    border-radius: 15px;
  }
  #navbar{
    position: relative;
  }
  #navbar ul li a:hover {
  color: none;
  background-color: none;
}

}

@media screen and (max-width: 364px) {
 #services .box img  {
       height: 114px;
       position: relative;
  }
}
