*,*::before,*after{
    box-sizing:border-box;
    font-family: 'Baloo Bhai 2';
    margin:0px;
    padding:0px;
}
body{
    background: linear-gradient(to right,#00AAFF, #00FF6C);
}
.calculator{
    display:grid;
    align-content:center;
    justify-content:center;
    min-height:100vh;
    grid-template-columns:repeat(4,100px);
    grid-template-rows:minmax(120px,auto)  repeat(5,100px);
}
.calculator > button{
    font-size:2rem;
    cursor:pointer;
    outline:none;
    border:1px solid white;
    background-color:rgba(255,255,255,0.75);
}
.calculator > button:hover{
    background-color:rgba(255,255,255,0.9);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column:1/-1;
    background-color:rgba(0,0,0,0.75);
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:space-around;
    padding:10px;
    word-wrap:break-word;
    word-break:break-all;
}
.output .previous-operand{
    color:rgba(255,255,255,0.75);
    font-size:1.5rem;
}
.output .current-operand{
    color:rgba(255,255,255,0.75);
    font-size:2.5rem;
}