body {
  font-family: 'monospace', monospace, san-serif;
  font-size: .8rem;
  background-color: antiquewhite;
  line-height: 1.5;
}

#title {
  text-align: center;
}

h2,
h3 {
  text-align: center;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
#img-caption {
  text-align: center;
  font-size: 0.8rem;
}

#tribute-info {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 1.4em;
  border-radius: 1em;
  color: black;
}



.timeline-item {
  padding: 2em;
  position: relative;
  color: #212121;
  border-left: 2px solid darkred;
  font-size: 1rem;
}
p {
  margin: 0;
  font-size: medium;
}

.timeline-item::before {
  content: attr(year-is);
  position: absolute;
  left: 1.5em;
  top: 0;
  display: block;
  font-weight: 700;
  
}

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: .3em;
  position: absolute;
  left: -.6em;
  border-radius: 10px;
  content: '';
  border: 2px solid;
  background: white;
}




a {
  color: darkred;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #212121;
}

@media screen and (max-width: 768px) {
  h2, h3, p {
    font-size: .8rem;
  }
  .timeline-item {
    font-size: .8rem;
  }
}