#timerContainer {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    width:700px;
    margin:20px auto;
    min-height: 60px;
    border-top:0px;
  }
  .timer, .reset {
    float:left;
    width: 54%;
    padding: 20px 0;
    font-size: 24px;
    text-align:center;
    color: #fff;
    background: rgb(74, 184, 88);
    cursor: pointer;
    font-weight: bolder;
  }
  .reset {
    background: rgb(51, 51, 136);
    color: white;
    width:14.9%;
    border-left: 1px solid #990000;
  }
  .reset:hover {
    background: rgb(41, 41, 41);
  }
  .lighter {
    background: #CC0000
  }