
body{
   background-color: #393E46;
    margin: 0;
}

.dice{
    
    display: inline-block;
    padding: 5%;

}
.container{
    width: 70%;  /*when using margin-left/margin-right:auto; , you must specify a width for the div*/
    text-align: center;
    margin: auto;
}
h1{
    font-size:3.5rem ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    text-shadow:10px 0 #232931;
    margin:30px;
}
p{
  font-size: 2rem;
    color:white;
    font-weight: bold;
    text-align: center;
}
img{
    width: 75%;
}
.footer{
    margin-bottom: 10px;
}
.btn{
    background:rgba(0, 0, 0, 0.46);
    padding: 10px 16px 10px 16px;
  font-weight: bold;
  font-size: 25px;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #fff;
    
}
.btn:hover{
    background: #232931;
    text-decoration: none;
}