body{
  background: #352f5b;
}
.container{
  max-width: 400px;
}
input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}
.todos li{
  background: #423a6f;
}
.delete{
  cursor: pointer;
}

.filtered {
  display: none !important;
}



/* .far{
  background-color: crimson;
  width: 10px;
  height: 10px;
  z-index: 10;
  display: inline-block;
  border: 2px solid black;
  position: absolute;
  right: 3px;
   
}
li{
  position: relative;

} */